@model List<ResultFooterAdressDto>

<div class="col-md">
    @foreach(var item in Model)
        {
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Sorularınız mı var?</h2>
        <div class="block-23 mb-3">
            <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@item.Phone</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@item.Mail</span></a></li>
            </ul>
        </div>
    </div>
    }
</div>



